<h1>Log in</h1>

<form>
    <label for="username" id="username">Username: </label><br>
    <input type="text" name="username" placeholder="Username"[(ngModel)]="user.username">
    

    <br>
    <label for="password" id="password">Password: </label><br>
    <input type="password" name="password" placeholder="Password" [(ngModel)] = "user.password">
    <br>
    <button type="button" (click)="onloginClicked()">Login</button>
</form>